.fira-sans-thin {
    font-family: "Fira Sans", serif;

    font-style: normal;
}

body {
    margin: 0px 170px;
    background-color: rgba(235, 232, 227, 0.418);
}

/* nevbar start */
.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bd {
    color: #0E0E0E;
    font-size: 32px;
    font-weight: bold;

}

.sing-in {
    border: none;
    color: #006A50;
    font-size: 18px;
    font-weight: 600;
    padding: 12px 30px;
    border-radius: 8px;
    border: 1px solid #006A50;
}

/* nevbar end */
/* banner part start */
.hero {
    display: flex;
    height: 560px;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    background-color: #C6E4D6;
    border-radius: 24px;
    padding: 59px;

}

.hi {
    font-size: 15px;
    font-weight: 500;
    color: #0e0e0e97;

}

.idea {
    font-size: 56px;
    font-weight: bold;
    margin-top: 13px;

}

.New {
    color: #FFFFFF;
    background-color: #006A50;
    padding: 17px 32px;
    border: none;
    border-radius: 8px;
    margin-top: 12px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;

}

.New:hover {
    background-color: #06ca6e;
}

/* banner part end */
/* Pillars of "Bangladesh 2.0" start */

.Pillars {
    font-size: 40px;
    font-weight: bold;
    margin-top: 80px;

}

.card-icon {
    display: flex;
    justify-content: space-evenly;
    gap: 70px;

}

.card {
    background-color: #ffffff;
    height: 200px;
    width: 280px;
    padding: 30px;
    border-radius: 16px;
    border: 1px solid #D5D6D8;
}

.title {
    color: #0E0E0E;
    font-size: 20px;
    font-weight: bold;
}

.sub-titel {
    color: #0e0e0ea0;
    font-size: 16px;
    font-weight: 400;
}

/* Pillars of "Bangladesh 2.0" end */

/* The Vision of Future start */

.aims {
    font-size: 40px;
    font-weight: bold;
    color: #0E0E0E;
    margin-top: 80px;
}

.and {
    font-size: 16px;
    font-weight: 400;
    color: #0e0e0ea0;
}

.Future {

    display: flex;
    justify-content: space-evenly;
    gap: 90px;
    align-items: center;

}

.digital {
    background-color: #548ff54d;
    height: 250px;
    width: 450px;
    padding: 30px;
    border-radius: 16px;
}

.vision {
    font-size: 20px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.768);
}

.access {
    font-size: 16px;
    font-weight: 400;
    color: #0e0e0ea0;
    margin-bottom: 40px;
}

.btn {
    font-size: 16px;
    font-weight: 600;
    background-color: #5490F5;
    border: none;
    color: white;
    padding: 11px 20px;
    border-radius: 8px;
}

.btn:hover {
    background-color: #06ca6e;
}

.digital-2 {
    background-color: #C6E4D6;
    height: 250px;
    width: 450px;
    padding: 30px;
    border-radius: 16px;
}

.digital-3 {
    background-color: #F7EBCF;
    height: 250px;
    width: 450px;
    padding: 30px;
    border-radius: 16px;
}

.btn-2 {
    font-size: 16px;
    font-weight: 600;
    background-color: #5490F5;
    border: none;
    color: white;
    padding: 11px 20px;
    border-radius: 8px;
}

.btn-2:hover {
    background-color: #06ca6e;
}

.btn-3 {
    font-size: 16px;
    font-weight: 600;
    background-color: #5490F5;
    border: none;
    color: white;
    padding: 11px 20px;
    border-radius: 8px;
}

.btn-3:hover {
    background-color: #06ca6e;
}

/* The Vision of Future end */

/* Dr. Muhammad Yunus part start */
.dr {
    background-image: url(../assets/quote-bg.png);
    background-repeat: no-repeat;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    border: 1px solid #D5D6D8;
    background-color: white;
    margin-top: 30px;
    margin-bottom: 80px;
 

}
.mr{
   font-size: 20px; 
   font-weight: 600;
   color: rgba(0, 0, 0, 0.768);
   margin-bottom: 0;
}

.dolor-1 {
    color: #0e0e0ea0;
    font-size: 16px;
    font-weight: 400;
    
}
.dolor{
    color: #0e0e0ea0;
    font-size: 16px;
    font-weight: 400;
    
    
}
/* Dr. Muhammad Yunus part end */
/* Recent News part start */
.news{
    font-size: 40px;
    font-weight: bold;
    color: #0E0E0E;
   
}
.news-title{
    font-size: 16px;
    font-weight: 400;
    color: #0e0e0ea0;
    
}

.jul-img{
    border-radius: 30px;
    height: 300px;
}
.satelite{
    display: flex;
    align-items: center;
    /* height: 402px; */
    justify-content: center;
    justify-content: space-around;
    gap: 50px;
    padding: 40px 40px;
    border-radius: 16px;
   background-color: white;
   margin-bottom: 40px;
}
.Bangladesh{
    font-size: 32px;
    font-weight: bold;
    color: #0e0e0ec4;
}
.Date{
   font-size: 16px;
   font-weight: 400;
   color: #0e0e0ea0;
}
.read{
    color: white;
    background-color: #006A50;
    padding: 13px 26px;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600;
}
.read:hover{
    background-color: #06ca6e;
}
/* Recent News part end */